/* CSS VARAIBLES STARTS HERE  */

:root {
  --blac: #303031;
  --green: #71a894;
  --white: #fff;
}

/* HEADER STARTS HERE */

header {
  margin: 0 auto;
}

/* NAV BAR STARTS HERE */

nav {
  border-bottom: 0.0625rem solid #e7e7e7;
  height: 6.6875rem;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  padding: 1.9375rem 2.0625rem 2rem 1.9375rem;
  align-items: center;
  column-gap: 2.5rem;
}

.nav-logo {
  display: flex;
  margin-right: auto;
  align-items: center;
  column-gap: 1.067vw;
}

h2 {
  color: var(--black, #303031);
  font-size: 2rem;
  font-family: Open Sans;
  font-weight: 700;
  letter-spacing: -0.08rem;
}

.nav-lists a {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 600;
  letter-spacing: -0.0225rem;
}

.nav-lists .link-different {
  color: var(--green, #71a894);
}

/* MAIN STARTS HERE */
main {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 0 2vw 2vw;
  margin: auto;
}

/* SECTION 01 STARTS HERE */

.section-01 {
  margin-top: 2.875rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Section-01 left side */

.section-01-left-container {
  padding: 0 1.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  column-gap: 2.3125rem;
  row-gap: 2.4375rem;
  flex: 1;
}

h1 {
  color: var(--black, #303031);
  font-size: 4.375rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 5rem;
}

.section-01-left-container p {
  color: var(--gray, #66645e);
  font-size: 1.5rem;
  font-family: Open Sans;
  line-height: 2rem;
  letter-spacing: -0.03rem;
}

.section-01-left-container button {
  color: var(--white, #fff);
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  background: #71a894;
  padding: 1.25rem 1.5rem;
  align-items: center;
  border: none;
}

/* section-01 right side */
.section-01-right-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.9375rem;
  flex: 1;
}

.pic-illus {
  flex-shrink: 0;
  z-index: 3;
  position: absolute;
  top: 16rem;
}

/* section-01 bottom container */
.section-01-bottom-container {
  margin-top: 11.6875rem;
  flex: 1 100%;
}

.section-01-bottom-container h2 {
  color: var(--black, #303031);
  text-align: center;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 800;
  line-height: 4rem;
}

.section-01-bottom-container p {
  color: var(--black, #303031);
  text-align: center;
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
  letter-spacing: -0.0225rem;
  margin-top: 1.5rem;
}

/* SECTION 02 STARTS HERE */
.section-02 {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1.4375rem;
  row-gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.section-02 .right-container {
  display: flex;
  justify-content: flex-end;
}

/* All containers in the section-02  */
.section-02 .container {
  display: flex;
  flex-flow: column wrap;
  flex: 0 26.6875rem;
  background: var(--white, #fff);
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  background: var(--white, #fff);
  box-shadow: 0rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}

/* all h3 in the containers in the section 02 */

.section-02 .container h3 {
  color: var(--black, #303031);
  text-align: center;
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1.5rem;
}

/* all h3 in the containers in the section 02 */
.section-02 .container p {
  margin-top: 1rem;
  color: var(--black, #303031);
  text-align: center;
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
}

/* SECTION 03 STARTS HERE */
.section03 {
  margin-top: 12.0625rem;
  display: inline-flex;
  flex-flow: row wrap;
  gap: 4rem 8.625rem;
  justify-content: space-around;
}

/* section 03 left container */

.section03 .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 2 40.25rem;
  row-gap: 1.5rem;
}

.section03 .left-container h2 {
  color: var(--black, #303031);
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 800;
  line-height: 4rem;
}

.section03 .left-container p {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
  letter-spacing: -0.0225rem;
  font-weight: 100;
}

/* section 03 right container */

.section03 .right-container {
  margin-right: 8rem;
  display: flex;
  flex: 0 30.25rem;
  row-gap: 1.875rem;
}

.section03 ul {
  display: flex;
  flex-direction: column;
  flex: 0 30.25rem;
  row-gap: 0.75rem;
  border-radius: 1rem;
  border: 0.25rem solid var(--black, #303031);
  background: var(--white, #fff);
  padding: 2rem 2.5rem;
}

.section03 ul li {
  display: flex;
  row-gap: 0.125rem;
  column-gap: 0.75rem;
}

.section03 h3 {
  margin-bottom: 0.625rem;
  color: var(--black, #303031);
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.04rem;
}

.section03 img {
  border-radius: 3.125rem;
}

.section03 h4 {
  color: var(--black, #303031);
  font-size: 1.5rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  line-height: 1.625rem;
  letter-spacing: -0.03rem;
}

.section03 p {
  color: var(--gray, #66645e);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.02rem;
}

/* SECTION 04 STARTS HERE */
.section04 {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 3rem 11.125rem;
  margin: 10rem 2rem auto;
  justify-content: space-between;
}

/* Section04 left container */
.section04 .left-container {
  display: flex;
  flex: 0 30.25rem;
  flex-shrink: 1;
}

.section04 .container-list-main {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 0.25rem solid var(--black, #303031);
  background: var(--white, #fff);
  row-gap: 1rem;
  padding: 2.75rem 2.5rem;
}

.section04 img {
  border-radius: 3.125rem;
}

.section04 h2 {
  color: var(--black, #303031);
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 800;
  line-height: 4rem;
}
.section04 .list-item-01 {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.section04 .list-item-01 p {
  color: var(--gray, #66645e);
  font-size: 1rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}
.section04 .list-item-01 div {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.section04 .list-item-02 p {
  color: var(--black, #303031);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section04 .list-item-03 ul {
  display: flex;
}

.section04 .list-item-03 h5 {
  color: var(--gray, #66645e);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section04 .container-list-first {
  display: flex;
  column-gap: 6.25rem;
}
.section04 .container-list-first p {
  color: var(--black, #303031);
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.03rem;
}

.section04 .container-list-first li {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.list-item-button button {
  border-radius: 1rem;
  background: var(--black, #303031);
  width: 100%;
  margin: auto;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  margin-top: 0.625rem;
  color: var(--white, #fff);
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.03rem;
}

/* section04 right container starts here */

.section04 .right-container {
  display: flex;
  flex: 0 40.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  align-items: flex-start;
}

/* SECTION 05 STARTS HERE */

.section05 {
  display: inline-flex;
  flex-flow: row wrap;
  margin-top: 12.5rem;
  gap: 3rem 2.875rem;
  justify-content: space-between;
}

/* section05 left container starts here */

.section05 .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 40.25rem;
  row-gap: 1.5rem;
}

.section05 .left-container h2 {
  color: var(--black, #303031);
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
}

.section05 .left-container p {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
  letter-spacing: -0.0225rem;
}

/* section 05 right container starts here */
.section05 .right-container {
  flex: 1 40.25rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1.25rem;
}

.section05 .container-bottom-top {
  display: flex;
  flex: 1 100%;
  border-radius: 1rem;
  border: 0.25rem solid var(--black, #303031);
  background: var(--white, #fff);
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  row-gap: 1rem;
}
.section05 .container-bottom-top ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.section05 .container-bottom-top h5 {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.0225rem;
}

.section05 .container-bottom-top .list-item-01 {
  display: flex;
  justify-content: space-around;
}

.section05 .container-bottom-top button {
  background-color: #71a894;
  border-radius: 3.125rem;
  color: var(--white, #fff);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section05 .container-bottom-top p {
  color: var(--black, #303031);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

/*Section05 right container's left-bottom container */
.section05 .container-bottom-left {
  display: flex;
  padding: 2rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 0.25rem solid var(--black, #303031);
  background: var(--light-gold, #f3f0ea);
  flex: 2;
  row-gap: 1rem;
}

.section05 .container-bottom-left ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.section05 .container-bottom-left ul li {
  display: flex;
  column-gap: 1rem;
  align-items: flex-end;
}

.section05 .container-bottom-left h4 {
  color: var(--black, #303031);
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.03rem;
}
.section05 .container-bottom-left h6 {
  color: var(--black, #303031);
  font-size: 1.25rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
}

.section05 .container-bottom-left img,
.section05 .container-bottom-right img {
  border-radius: 3.125rem;
}

/* section05 right bottom container's right container */

.section05 .container-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  flex: 1;
  border-radius: 1rem;
  border: 0.25rem solid var(--green, #71a894);
  background: var(--white, #fff);
  padding: 0.75rem 1.5rem;
}

.section05 .container-bottom-right h5 {
  color: var(--black, #303031);
  text-align: center;
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
}

.section05 .container-bottom-right h6 {
  color: var(--gray, #66645e);
  text-align: center;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section05 .flex-start {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-self: flex-start;
}

.section05 .container-bottom-right p {
  color: var(--black, #303031);
  font-size: 1rem;
  font-family: Roboto;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section05 .container-bottom-right button {
  border-radius: 1rem;
  background: var(--black, #303031);
  color: var(--white, #fff);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.02rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
}

/* SECTION 06 STARTS HERE */
.section06 {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 11.5rem;
  gap: 2rem 2rem;
  justify-content: space-around;
}
/* section06 top container  */
.section06 .top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  flex: 1 100%;
}
.section06 .top-container h2 {
  color: var(--black, #303031);
  text-align: center;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 800;
  line-height: 4rem;
}

.section06 .top-container p {
  color: var(--black, #303031);
  text-align: center;
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
  letter-spacing: -0.0225rem;
}

/* Section06 bottom-container's left container */
.section06 .container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  flex: 1;
  border-radius: 1rem;
  background: var(--white, #fff);
  margin-top: 1rem;

  /* Card Shadow */
  box-shadow: 0rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}
.section06 .container div {
  display: flex;
  justify-content: space-between;
}
.section06 .container h3 {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.0225rem;
}

.section06.container p {
  color: var(--black, #303031);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section06 .container div button {
  color: var(--white, #fff);
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  border-radius: 2.5rem;
  background: var(--green, #71a894);
}

.section06 .container div h6 {
  color: var(--black, #303031);
  text-align: right;
  font-size: 1rem;
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
}

.section06 .button {
  text-align: center;

  flex: 100%;
}

.section06 .button button {
  border-radius: 0.5rem;
  background: var(--black, #303031);
  color: var(--white, #fff);
  text-align: center;
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
  width: 8.375rem;
  line-height: 4rem;
  margin: auto;
}

/* SECTION07 STARTS HERE */
.section07 {
  display: flex;
  gap: 2.5rem;
  margin-top: 10.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.s7-left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.s7-left-container h2 {
  color: var(--black, #303031);
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 800;
  line-height: 4rem;
}

.s7-left-container p {
  color: var(--black, #303031);
  font-size: 1.125rem;
  font-family: Roboto;
  line-height: 1.625rem;
  letter-spacing: -0.0225rem;
}

.s7-left-container button {
  display: inline-flex;
  padding: 1.25rem 1.5rem;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  background: #71a894;
  color: var(--white, #fff);
  font-size: 1.125rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5rem;
}

.s7-right-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

/* FOOTER STARTS HERE */
footer {
  margin-top: 8.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h2 {
  margin-right: auto;
}

footer ul {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

footer ul li a {
  color: var(--black, #303031);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: -0.4px;
}

footer .footer-list-item-03 a {
  color: var(--green, #71a894);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: -0.4px;
}

/* MEDIA QUERIES  */
@media (max-width: 1024px) and (min-width: 770px) {
  .section02 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ???????????????????????? */
/* 1) ASK TEACHER -> WHY SECTION 3 RIGHT CONTAINER not SHRINGS WHILE ITS FLEX 0 */
/* 2) FONT FAMILY IN BODY IN RESET CSS DOESN'T WORK, WHY? */
/* 3) */
